* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(35, 35, 35);
}

canvas {
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -300px;
  margin-right: -500px;
}
